.cta-title-container {
	text-align: center;
	margin-bottom: 40px;
}
.cta-tagline {
	padding: 0.25rem 0.75rem;
	border: 2px solid color-mix(in oklab, #303438 80%, transparent);
	border-radius: 999px;
	color: rgb(192, 193, 194);
	font-size: var(--text-sm);
	background-color: color-mix(in oklab, #24282c 20%, transparent);
	user-select: none;
}
.cta-description {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 20px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;
}

.cta-item {
	display: flex;
	align-items: center;
	gap: 15px;
	color: rgb(192, 193, 194);
	font-weight: 500;
}

.cta-item span {
	padding: 8px 8px;
	border: 1px solid var(--primary);
	border-radius: 999px;
}
.cta-item svg {
	width: 16px;
	height: 16px;
	color: var(--primary);
}

/* responsivnes */

@media (max-width: 768px) {
	.cta-item {
		gap: 10px;
	}
	.cta-items {
		gap: 20px;
	}
	.cta-item span {
		padding: 6px 6px;
	}
	.cta-item svg {
		width: 14px;
		height: 14px;
	}
	.cta-item h3 {
		font-size: 15px;
	}
}

@media (max-width: 655px) {
	.cta-description {
		font-size: 14px;
	}
	.cta-items {
		gap: 10px;
	}
	.cta-item {
		gap: 5px;
	}
	.cta-item span {
		padding: 5px 5px;
	}
	.cta-item svg {
		width: 12px;
		height: 12px;
	}
	.cta-item h3 {
		font-size: 12px;
	}
}

@media (max-width: 463px) {
	.cta-items {
		display: none;
	}
}
